<div class="container">
  <div><label>Codigo:</label>
  <input type="text" [(ngModel)]="producto.codigo"></div>
  <div><label>Nombre:</label>
  <input type="text" [(ngModel)]="producto.nombre"></div>
  <div><label>Descripcion:</label>
  <input type="text" [(ngModel)]="producto.descripcion"></div>
  <div><label>Tipo:</label>
  <input type="number" [(ngModel)]="producto.tipo"></div>
  <div><label>Precio:</label>
  <input type="number" [(ngModel)]="producto.precio"></div>
  <div><label >Foto</label>
  <input type="text" [(ngModel)]="producto.foto"/></div>
  <div><label>Stock:</label>
  <input type="number" [(ngModel)]="producto.stock"></div>
  <div class="botones"><button (click)="crear()">
    Crear
  </button></div>

</div>
