<div class="container">
  <label>Codigo:</label>
  <input type="text" [(ngModel)]="codigo" >
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="nombre" >
  <label>Descripcion:</label>
  <input type="text" [(ngModel)]="descripcion" >
  <label>tipo:</label>
  <input type="number" [(ngModel)]="tipo" >
  <label>precio:</label>
  <input type="number" [(ngModel)]="precio" >
  <label>foto:</label>
  <input type="text" [(ngModel)]="foto" >
  <label>Stock:</label>
  <input type="number" [(ngModel)]="stock" >
  <button (click)="crear()">
    Crear
  </button>

</div>
