<div class="container">
  <div><label>Email:</label>
  <input type="text" class="entrada" [(ngModel)]="email" placeholder="email">
  </div>

  <div><label>Password:</label>
  <input type="password" class="entrada" [(ngModel)]="password" placeholder="password">
  </div>
  <div class="botones">
  <button class = "button" (click)="registro()">
    Signup
  </button>
  <button class = "button" (click)="login()">
    Login
  </button>
  <button class = "button" (click)="logout()">
    Logout
  </button>
  </div>
</div>
