*{
  font-family: sans-serif;
  font-size: 12px;
  color: #798e94;
}
body{
  width: 400px;
  margin: auto;
  background-color: #E2ECEE;
}

.container{
  border: 1px solid #CED5D7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  background-color: white;
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
  width: 30%;
  margin-left: 29%;
}
.container button{
  border: 1px solid #CED5D7;
  padding: 6px 16px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
  background: #e4f1f6;
  background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
}
.container button:hover{
  background: #edfcff;
  background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
  background: -webkit-linear-gradient(top, #edfcff 0%, #cfe6ef 100%)
}
.container button:active{
  background: #cfe6ef;
  background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
  background: -webkit-linear-gradient(top, #cfe6ef 0%, #edfcff 100%)
}
